*{
    margin: 0;
    padding: 0;
}

th {
    color: green;
    font-size: 15px;
}
label, input, select, textarea
{
    margin-left: 25px;
    color:green;
}
#parrafo2{
    color: red;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#parrafo1
{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
}

h1 {
    color: blue;
    font-size: 30px;
    text-shadow: 2px 1px #0b0b47;
}

li {
    color: #9a649a;
}
#item1
{
    font-weight: bold;
    color: black;
}
#imp1
{
    text-decoration: underline;
    color: rgb(7, 63, 7);
}
.imagenesTablas 
{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px black;
}
header
{
    /* background-image: url("../imagenes/imagenfondoheader.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 440px; */
    background-color: rgb(60, 160, 218);
}
#imgLogo
{
    width: 200px;
}
.contServ
{
    width: 400px;
    height: 350px;
}
.imgServ
{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 3px rgb(55, 55, 109);
}
.services
{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.tiposBallenas
{
     display: flex;
     justify-content: space-evenly;
}
.contenidoTipos
{
    width: 40%;
}
.contInscripcion
{
    width: 40%;
}
#videoPpal
{
    border-radius: 20px;
    margin-top: 100px;
}
#fila1Tabla, #fila3Tabla
{
    background-color: #94eacd;
}
#fila2Tabla
{
     background-color: #4fd8e5;
}
.columnaContinente
{
   background-color: #acf1f6; 
}
table
{
    border: none;
    border-collapse: collapse;
}
.inscripcionPpal
{
    display: flex;
    justify-content: space-evenly;
}
#tituloInscripcion
{
    padding-top: 100px;
}

#primerItem
{
    color:red;
}
footer
{

    display: flex;
    justify-content: space-evenly;

}
#pagos
{
    background-image: url(../imagenes/pse-1-300x300.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    border-radius: 100%;
}